html {
	height:100%;
}

BODY {
	padding:0px; MARGIN: 0px; height:100%;
}

* {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, 'Lucida Grande', Arial, sans-serif; color: #000000;
}

.tableBandeauHaut {
	width:100%;
	height:5%;
	BACKGROUND:#006573;
}

.tableBandeauHaut tr td {
	color:#EEEEEE;
}

.tableBandeauHaut tr td a {
	color:#EEEEEE;
	text-decoration: underline;
}

.tableBandeauHaut tr td a:hover {
	color:#006573;
	text-decoration: underline;
	BACKGROUND:#EEEEEE;
}

.spanNomStock {
	color:#EEEEEE;
	FONT-SIZE: 20px;
}

a {
	TEXT-DECORATION:none;COLOR: #83112A;
}

a:hover {
	COLOR: #1C6FBD;
}

a.black {
	TEXT-DECORATION:none;COLOR: #000000;
}

a.black:hover {
	COLOR: #1C6FBD;
}

.tableCommune tr th {
	padding:4px;
}

.tableCommune tr {
	BACKGROUND:#f4d4ad;
}

.tableCommune tr td {
	padding:4px;
	BACKGROUND:#f4e4d0;
}

button {
	padding:6px 0 6px 0;
	color:#fff;
	cursor:pointer;
	border-radius:2px;
	border:none;
	width:100px;
}

.boutonValider {
	background:#298A08;
}

.boutonValider:hover {
	background:#00FF00;
}

.boutonAnnuler {
	background:#d34836;
}

.boutonAnnuler:hover {
	background:#FF0000;
}

.menu {
	color:#EEEEEE;
	display:block;
	width:300px;
	height:30px;
	BACKGROUND:#56abac;
	text-align: center;
	line-height: 30px;
}

.menu:hover {
	BACKGROUND:#f4d4ad;
}

.tdDroiteStock {
	border-left: 2px solid #006573;
	FONT-SIZE: 10px;
	font-weight:bold;
}

.tableStockADroite tr th {
	padding:4px;
	FONT-SIZE:9px;
}

.tableStockADroite tr {
	BACKGROUND:#f4d4ad;
	font-weight:normal;
}

.tdPrix {
	text-align:right;
}

.tdQuantite {
	text-align:center;
}

.tableStockADroite tr td {
	padding:4px;
	BACKGROUND:#f4e4d0;
	FONT-SIZE: 9px;
}