* {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, 'Lucida Grande', Arial, sans-serif; color: #000000;
}

BODY {
	padding:0px; MARGIN: 0px;
}

.tableBandeauHaut {
	color:#EEEEEE;
	width:100%;
	height:50px;
	BACKGROUND:#006573;
}

a {
	TEXT-DECORATION:none;COLOR: #83112A;
}

a:hover {
	COLOR: #1C6FBD;
}

a.black {
	TEXT-DECORATION:none;COLOR: #000000;
}

a.black:hover {
	COLOR: #1C6FBD;
}

.tableCommune tr th {
	padding:4px;
}

.tableCommune tr {
	BACKGROUND:#f4d4ad;
}

.tableCommune tr td {
	padding:4px;BACKGROUND:#f4e4d0;
}

button {
	padding:6px 0 6px 0;
	color:#fff;
	cursor:pointer;
	border-radius:2px;
	border:none;
}

.boutonValider {
	background:#298A08;
	width:100px;
}

.boutonValider:hover {
	background:#00FF00;
}

.boutonAnnuler {
	background:#d34836;
	width:100px;
}

.boutonAnnuler:hover {
	background:#FF0000;
}

.menu {
	color:#EEEEEE;
	display:block;
	width:300px;
	height:30px;
	BACKGROUND:#56abac;
	text-align: center;
	line-height: 30px;
}

.menu:hover {
	BACKGROUND:#f4d4ad;
}
